*{  
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;;
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    display: inline block;
    color: currentColor;
}

ul, ol{
    list-style: none;
}

[class^="container"]{
    margin: 0 auto;
}

.clearfix::after{
    clear: both;
    display: block;
    content: "";
}

/*LAYOUT*/

.section{
    padding: 0 15px;
}

.container-fluid{
    max-width: 100%;
}

.container-lg{
    max-width: 970px;
}

.container{
    max-width: 970px;
}

.row::after{
    content: '';
    display: block;
    clear: both;
}

.row [class^="col"] {
    float: left;
}

.row .col-sx{
    float: left;
}

.row .col.fr{
    float: right;
}

.col-4{
    width: 33.3%;
}

.col-8{
    width: 66.6%;
}

.col-12{
    width: 100%;
}

/*Utilities*/

.full-width{
    width: 100%;
}

/*HEADER*/
header .container-fluid{
    padding: 21px 0px;
    border-bottom: 1px dashed red;
}

header .col-sx li, header .col-dx li{
   display: inline-block;
   vertical-align: middle;
   padding: 0 22px;
}

header li a {
    line-height: 25px;
}

#logo-small{
    display: block;
}

.button{
    background-color: #0061FF;
    color: white;
    border: 1px solid blue;
    text-align: center;
    padding: 0 15px;
    line-height: 32px;
    font-size: 15px;
}

/*JUMBO*/

#jumbo{
    background-color: #B4D0E7;
    padding-top: 70px;
}

#jumbo .row:first-child{
    padding-bottom: 50px;
}

#jumbo .main-title{
    font-size: 60px;
    font-weight: 700;
}

.jumbo-description{
    margin-bottom: 30px;
}

.jumbo-cta{
    margin-bottom: 10px;
}

.jumbo-icon{
    padding-top: 35px 0 20px;
    font-size: 35px;
}

.jumbo-img-wrapper{
    padding-left: 25px;
}

/*Plan content*/

.plan{
    border: 1px solid #aaa;
}

.plan__header {
    border-bottom: 1px solid #aaa;
    text-align: center;
    padding: 10px;
}

.plan__body, .plan__footer{
    padding: 18px;
}

.plan__body, .plan_-title{
    font-size: 18px;
    margin-bottom: 15px;
}

.plan__body .plan-price{
    font-weight: 700;
    margin-bottom: 5px;
}

.plan__body .bill-rate{
    color: #888;
    font-size: 14px;
}

.plan__body .plan-features{
    padding: 25px 0;
}

.plan__body .plan-features li{
    margin-bottom: 15px;
    font-size: 12px;
}

.plan__body .plan-features li:last-child{
    margin-bottom: 0;
}

.plan__body .plan-cta{
    margin-bottom: 20px;
    font-size: 14px;
}

.plan__body .plan-cta .shop-now{
    color: #0061FF;
}

.plan__body::after{
    content: '';
    display: block;
    height: 1px;
    width: 29px;
    background-color: #aaa;
}

.plan__footer .plan-features i{
    color: #0061FF;
}

#plans-section .row [class^="col"]{
    padding: 3px 10px;
}

#plans-section . row{
    margin: 0 -20px;
}

/*debug*/
.debug [class^="col"]{
    border: 2px solid yellow;
    padding: 20px;
}