*{  
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;;
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    display: inline block;
    color: currentColor;
}

ul, ol{
    list-style: none;
}

[class^="container"]{
    margin: 0 auto;
}

.clearfix::after{
    clear: both;
    display: block;
    content: "";
}

/*LAYOUT*/

.section{
    padding: 0 15px;
}

.container-fluid{
    max-width: 100%;
}

.container-lg{
    max-width: 970px;
}

.container{
    max-width: 970px;
}

.row::after{
    content: '';
    display: block;
    clear: both;
}

.row [class^="col"] {
    float: left;
}

.row .col-sx{
    float: left;
    font-weight: 550;
}

.row .col.fr{
    float: right;
    font-weight: 550;
}

.col-4{
    width: 33.3%;
}

.col-6{
    width: 50%;
}

.col-8{
    width: 66.6%;
}

.col-12{
    width: 100%;
}

/*Utilities*/

.full-width{
    width: 100%;
    margin-bottom: 20px;
}

/*HEADER*/
header .container-fluid{
    padding: 21px 0px;
}

header .col-sx li, header .col-dx li{
   display: inline-block;
   vertical-align: middle;
   padding: 0 22px;
}

header li a {
    line-height: 25px;
}

#logo-small{
    display: block;
}

.button{
    background-color: #0061FF;
    color: white;
    text-align: center;
    padding: 8px 18px;
    line-height: 32px;
    font-size: 11px;
}

/*JUMBO*/

#jumbo{
    background-color: #B4D0E7;
    padding-top: 70px;
    height: 525px;
}

#jumbo-2{
    background-color: #B4D0E7;
    padding-top: 70px;
    height: 325px;
}

#jumbo .row:first-child{
    padding-bottom: 50px;
}

#jumbo .main-title{
    font-size: 60px;
    font-weight: 700;
}

.jumbo-description{
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 550;
}

.jumbo-cta{
    margin-top: 20px;
    margin-bottom: 10px;
}

.jumbo-icon{
    padding-top: 35px 0 20px;
    font-size: 35px;
}

.jumbo-img-wrapper{
    padding-left: 25px;
}

.jumbo-info{
    font-size: 11px;
    margin-bottom: 20px;
}

/*Plan content*/

#price-title{
    padding-top: 75px;
    font-size: 33px;
    font-weight: 700;
}

.plan{
    border: 1px solid #aaa;
    min-height: 750px;
}

.plan-bottom{
    border: 1px solid #aaa;
}

.plan__header {
    border-bottom: 1px solid #aaa;
    text-align: center;
    padding: 10px;
}

.plan-bottom__header {
    border-bottom: 1px solid #aaa;
    text-align: center;
    padding: 10px;
}

.plan__body, .plan__footer{
    padding: 25px;
}

.plan__body, .plan-title{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.plan__body .plan-price{
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 600;
}

.plan__body .bill-rate{
    color: #888;
    font-size: 14px;
    padding-bottom: 10px;
}

.plan__body .plan-features{
    padding: 25px 0;
}

.plan__body .plan-features li{
    margin-bottom: 15px;
    font-size: 12px;
}

.plan__body .plan-features li:last-child{
    margin-bottom: 0;
}

.plan__body .plan-cta{
    margin-bottom: 20px;
    font-size: 14px;
    position: relative;
}

.plan__body .plan-cta .shop-now{
    color: #0061FF;
}

.plan__body::after{
    content: '';
    display: block;
    height: 1px;
    width: 29px;
    background-color: #aaa;
}

.plan__footer .plan-features i{
    color: #0061FF;
}

#plans-section .row [class^="col"]{
    padding: 3px 10px;
}

#plans-section .row{
    margin: 0 -20px;
}

.plan-cta a{
    margin-bottom: 20px;
    display: inline-block;
    line-height: 20px;
}

.plan-cta p{
    font-size: 13px;
    font-weight: 600;
}

.time{
    display: inline-block;
    padding: 40px 10px 20px 0px;
    font-size: 12px;
}

.options{
    padding: 10px 0px;
    font-size: 12px;
}

#plan-footer-h4{
    padding-bottom: 20px;
}

.gives{
    padding-bottom: 8px;
}

#ent-div{
    position: relative;
}

#h3-ent{
    font-size: 23px;
    display: inline-block;
}

#a-ent{
    float: right;
    line-height: 10px;
    width: 20%;
    margin-top: 10px;
}

#check-ent{
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding-top: 12px;
    padding-bottom: 15px;
}

#expl-ent{
    display: block;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 10px;
}
/*Partner*/

#sec__partner{
    padding-top: 125px;
}

#col__partner-pic{
    width: 970px;
    margin-left: -10px;
}

#col__partner-text{
    height: 420px;
    position: relative;
}

.partner-option{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.partner-option h2{
    padding: 10px;
    font-size: 22px;
}

.partner-option p{
    padding: 10px;
    font-size: 12px;
    line-height: 18px;
}

.partner-option a{
    display: inline-block;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    font-size: 14px;

}

/*Operazioni*/
#operations{
    padding-top: 75px;
}

.operations-title{
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 32px;
}

#debug{
    border: 2px dashed darkgreen;
    padding: 20px;
}

#operations-col{
    padding: 20px;
}

.op__wrapper{
    border: 4px solid yellow;
}

#op__title, #op__text{
    padding: 10px;
}

#op__text{
    font-size: 14px;
}

#info-title{
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 20px;
}

#learn__more{
    font-size: 13px;
    color: blue;
    text-decoration: underline;
}

/*Affiliati*/

#team{
    width: 100%;
    border: 0;
}

#uni-block{
    position: relative;
    height: 400px;
}

.pic-size{
    width: 50%;
    height: 50%;
    float: left;
    position: relative;
}

.unipic{
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#florida{
    height: 15%;
}

#green{
    background-color: rgb(162, 211, 155);
    border: 10px solid rgba(255, 255, 255, 0.4);
}


#amaranth{
    background-color: rgb(97, 8, 43);
}

#lightblue{
    background-color: rgb(0, 147, 206);
}

#red-1{
    background-color: rgb(255, 28, 28);
}

#red-2{
    background-color: rgb(213, 0, 31);
}

#blue{
    background-color: rgb(13, 36, 129);
}

#yellow{
    background-color: rgb(255, 216, 48);
}

.global_lead{
    padding: 20px;
    height: 98%;
    width: 98%;
}

#design_logo{
    width: 30%;
}

.global_lead p{
    padding-top: 70px;
    font-size: 12px;
}

.global_lead span{
    display: block;
    padding-top: 40px;
    font-size: 12px;
}

.try-it{
    width: 65%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#jumbo-2 h2{
    font-size: 40px;
    color: rgb(97, 8, 43);
    display: inline-block;
    padding-top: 20px;
    padding-left: 20px;
}

#jumbo-2 button{
    display: inline-block;
    float: right;
    margin-top: 30px;
    padding: 5px;
    width: 30%;
    border: none;
}
/*debug*/
.debug [class^="col"]{
    border: 2px solid yellow;
    padding: 20px;
}

#jumbo-2{
    position: relative;
}

